<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Products</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid text-center">
    <div><h1>Manage Products</h1></div>
    <div>
        <a th:href="@{/products/admin/new}">Add New Product</a>
    </div>
    <div>
        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="product : ${productList}">
                <tr>
                    <td>[[${product.id}]]</td>
                    <td>[[${product.name}]]</td>
                    <td>[[${product.price}]]</td>
                    <td>[[${product.quantity}]]</td>
                    <td>
                        <a th:href="@{'admin/edit/' + ${product.id}}">Edit</a>
                        <a th:href="@{'admin/delete/' + ${product.id}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <div th:if="${message}" class="alert-success"> [[${message}]] </div>
    </div>
</div>
<div class="container-fluid text-center">
    <button type="submit" class="btn btn-primary" onclick="logoutForm()">Login</button>
</div>

<script type="text/javascript">
    function logoutForm() {
        window.location = "/logout";
    }
</script>
</body>
</html>