<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <style>
        div {
            margin-bottom: 15px;
        }

        label {
            display: inline-block;
            width: 150px;
            text-align: left;
        }
    </style>
</head>
<body>
<div class="container-fluid text-center">
    <div>
        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="product : ${productList}">
                <tr>
                    <td>[[${product.id}]]</td>
                    <td>[[${product.name}]]</td>
                    <td>[[${product.price}]]</td>
                    <td>[[${product.quantity}]]</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<div class="container-fluid text-center">
    <button type="submit" class="btn btn-primary" onclick="logoutForm()">Logout</button>
</div>

<div class="container-fluid text-center">
    <button type="submit" class="btn btn-primary" onclick="manage()">Manage Products</button>
</div>

<script type="text/javascript">
    function manage() {
        window.location = "/products/admin";
    }
</script>

<script type="text/javascript">
    function logoutForm() {
        window.location = "/logout";
    }
</script>
</body>
</html>